/* 投稿系専用スタイルシート */

input,
textarea {
    border: 1px solid #ccc;
}

/* 投稿一覧画面 */
.card-inner {
    display: none;
}

.post-card-thum-wrapper {
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
}

.post-card-thum {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.post_favorite_btn {
    font-size: 30px;
}
.post_favorite_btn:hover {
    color: #dc143c;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}
.post_favorite_btn_added {
    color: #ff0000;
}